*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    padding: 20px;
    background: lightgray;
}

table{
    padding: 10px;
    background: lightgray;
}
.update-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}